* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: #0c131f;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.navbar.bg-dark {
    background-color: #0c131f !important; 
}
.navbar .dropdown-menu {
    background-color: #0c131f;
}

.navbar .dropdown-item {
    color: white !important;
}

.navbar .dropdown-item:hover {
    background-color: #0c131f;
    color: #0C8CE9 !important;
}   


.hero-section {
    height: 85vh;
    width: 100vw;
    color: #ffffff;
    background: radial-gradient(ellipse at left top, rgba(12, 19, 31, 0.8) 0%, transparent 50%), radial-gradient(ellipse at right bottom, rgba(12, 140, 233, 1) 0%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
} 



.brand-text {
    animation: cycleColors 5s linear infinite;
    font-size: 36px;
}

@keyframes cycleColors {
    0%, 100% {
        color: #0C8CE9;
    }
    25% {
        color: #ff007f;
    }
    50% {
        color: #FFD900;
    }
    75% {
        color: #00FFA3;
    }
}


@media(min-width: 767px) {
    h1 {
        font-size: 5rem !important;
    }
    .brand-text {
        font-size: 5rem !important;
    }
    .hero-subheading {
        font-size: 2rem !important;
    }
}


.hero-subheading {
    margin-top: 40px;
    padding-bottom: 40px;
}


.btn {
    padding-left: 30px !important;
    padding-right: 30px !important;
}


.product-container {
    padding: 40px;
}

.products-services-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

 
@media(min-width: 767px) {
    .product-column-one {
        border-right: 2px solid #0C8CE9;
    }
    
    .product-column-two {
        border-right: 2px solid #0C8CE9;
    }
    
    .product-column-three {
        border-right: 2px solid #0C8CE9;
    }
}
.product-icons {
    color: rgb(12, 140, 233) !important;
}

.service-tile {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
}

.flip-card {
    height: 300px;
    width: 280px;
    perspective: 1000px;
}

.flip-card a {
    text-decoration: none; 
    pointer-events: auto; 
    cursor: pointer;
    color: white;
}


.flip-card:hover .flip-card-front {
    display: none;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
}

.flip-card-back {
    padding: 20px;
    background-color: rgba(12, 140, 233, 0.8);
    color: white;
    transform: rotateY(180deg);
}

.flip-back-icons {
    margin-bottom: 10px;
}


.carousel {
    width: 700px;
    height: 350px;
}

.product-cards {
    color: #0c131f;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}


.products {
    position: relative; /* Establish positioning context */
    overflow:hidden;
    padding: 30px 0;
    background: #0c131f;
    white-space: nowrap;
    width: 100vw;
    box-sizing: border-box; /* Include padding in width */
}

.products:before,
.products:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

@media (min-width: 767px) {
    .products:before {
        left: 0;
        background: linear-gradient(to left, transparent, #0c131f);
    }

    .products:after {
        right: 0;
        background: linear-gradient(to right, transparent, #0c131f);
    }
}


.products:hover .products-slide {
    animation-play-state: paused;
}

.products-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.products-slide span {
    height: 30px;
    margin: 0 40px;
    font-size: 20px
}


.footer-link:hover {
    color: #0C8CE9 !important;
    text-decoration: none !important;
}


footer h6 {
    font-size: 1.1em;
}


footer i.fas, footer i.fab {
    font-size: 1em; 
    margin-right: 0.5rem;
}


.container.text-center.text-md-start {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}
