* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c131f;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.navbar-brand {
    padding-right: 20px;
}

.navbar .nav-item {
    margin-right: 40px;
}

.navbar.bg-dark {
    background-color: #0c131f !important; 
}
.navbar .dropdown-menu {
    background-color: #0c131f;
}

.navbar .dropdown-item {
    color: white !important;
}

.navbar .dropdown-item:hover {
    background-color: #0c131f;
    color: #0C8CE9 !important;
}   


@media (min-width: 900px) {
    .navbar-expand-custom {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}


.hero-section {
    height: 75vh;
    max-width: 100%;
    color: #ffffff;
    background: radial-gradient(ellipse at left top, rgba(12, 19, 31, 0.8) 0%, transparent 50%), radial-gradient(ellipse at right bottom, rgba(12, 140, 233, 1) 0%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
} 



.brand-text {
    animation: cycleColors 5s linear infinite;
    font-size: 36px;
}

@keyframes cycleColors {
    0%, 100% {
        color: #0C8CE9;
    }
    25% {
        color: #ff007f;
    }
    50% {
        color: #FFD900;
    }
    75% {
        color: #00FFA3;
    }
}


@media(min-width: 1300px) {
    h1 {
        font-size: 5rem !important;
    }
    .brand-text {
        font-size: 5rem !important;
    }
    .hero-subheading {
        font-size: 2rem !important;
    }
}


.hero-subheading {
    margin-top: 40px;
    padding-bottom: 40px;
}


.btn {
    padding-left: 30px !important;
    padding-right: 30px !important;
}




/* products with card flip */

.product-container {
    padding: 40px;
}

.products-services-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

 
@media(min-width: 767px) {
    .product-column-one {
        border-right: 2px solid #0C8CE9;
    }
    
    .product-column-two {
        border-right: 2px solid #0C8CE9;
    }
    
    .product-column-three {
        border-right: 2px solid #0C8CE9;
    }
}
.product-icons {
    color: rgb(12, 140, 233) !important;
}

.service-tile {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
}

.flip-card {
    height: 300px;
    width: 280px;
    perspective: 1000px;
}

.flip-card a {
    text-decoration: none; 
    pointer-events: auto; 
    cursor: pointer;
    color: white;
}


.flip-card:hover .flip-card-front {
    display: none;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
}

.flip-card-back {
    padding: 20px;
    background-color: rgba(12, 140, 233, 0.8);
    color: white;
    transform: rotateY(180deg);
}

.flip-back-icons {
    margin-bottom: 10px;
}


.carousel {
    width: 700px;
    height: 350px;
}

.product-cards {
    color: #0c131f;
}



/* Infinite Scroll */

@keyframes slide {
    from {
        transform: translateX(0)
    } to {
        transform: translateX(-100%)
    }
}

.products {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}


/* div for transition effect */
/* .products:before,
.products:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
} */


@media (min-width: 767px) {
    .products:before {
        left: 0;
        background: linear-gradient(to left, transparent, #0c131f);
    }

    .products:after {
        right: 0;
        background: linear-gradient(to right, transparent, #0c131f);
    }
}

.products-slide {
    display: inline-block;

    animation: 25s slide infinite linear;
}

.products:hover .products-slide {
    animation-play-state: paused;
}

.products-slide span {
    height: 50px;
    margin: 0 40px;
    font-size: 1.3rem;
}



/* Modal */

.modal {
    color: #0c131f;
}

.modal h4{
    color: #0C8CE9;
    font-weight: 400;
}




/* Contact Page */

.contact-subheading {
    color: #0C8CE9
}

.contact-form-label {
    display: block;
    text-align: left !important;
}


.contact-heading-bold{
        color: #0C8CE9;
    }

    .contact-btn {
        width: 100%;
    }


@media (min-width: 767px) {

    .hero-section {
        width:100%;
        height: 90vh;
        box-sizing: border-box;
    }
    
    .mobile-only-contact-info {
        display: none;
    }
    
    .contact-heading {
        margin-top: 60px;
    }
    
    .contact-form {
        max-width: 600px; 
        margin: 0 auto;  
        border: 1.5px solid rgb(12, 140, 233);
        padding: 20px;    
        border-radius: 8px;  
    }

    .contact-form:hover {
        background-color: rgba(12, 19, 31, 0.3);
        box-shadow: 6px 6px 5px 0px  rgba(12, 19, 31, 0.3);
    }
   
    
    .contact-info {
        display: flex;
        justify-content: center;
    }

    .contactUs-section {
        display: flex;
        text-align: center;
        margin: 40px 40px 0px 40px;
    }

    .contactUs-section h4 {
        margin-right: 20px;
        text-align: center;
    }
}

@media (max-width: 767px) { /* targeting screens smaller than 768px */
    .contact-subheading {
        display: none;
    }
    .contact-hero-section {
        height: 91vh !important;
        width: 100%;
    }
    
    .contact-info {
        display:none;
    }
    .contact-form {
        font-size: 0.9em;
        width: 100%;
    }

    .subheading {
        font-size: 1.1rem !important;
    }

    .contact-form .form-control {
        padding: 0.3rem 0.6rem;
        margin-bottom: 0.5rem;  /* Adjust the space between form elements */
    }

    .contact-form-label {
        margin-bottom: 0.3rem;
    }

    .mobile-only-contact-info {
        background-color: #0c131f;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 10px 0px 10px;
    }
}






/* footer */

.footer-link:hover {
    color: #0C8CE9 !important;
    text-decoration: none !important;
}


footer h6 {
    font-size: 1.1em;
}


footer i.fas, footer i.fab {
    font-size: 1em; 
    margin-right: 0.5rem;
}


.container.text-center.text-md-start {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}



/* mobile quote button */

.get-quote-btn {
    display: none; 
    position: fixed;  
    bottom: 0;  
    left: 0;  
    transform: none;  
    z-index: 999; 
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    height: 3rem;
}

@media (max-width: 767px) {  
    .get-quote-btn {
        display: block;
    }
    .hero-section {
        height: 80vh;
    }
    .products {
        padding-top: 2rem;
    }
}


.bottom-div {
    height: 20px;
}